<footer class="bg-dark text-white mt-5">

<div class="container py-5">

<div class="row">

<div class="col-md-4">

<h4>PrimeBasket</h4>

<p>Your one-stop online shopping destination.</p>

</div>

<div class="col-md-4">

<h4>Quick Links</h4>

<ul class="list-unstyled">

<li><a href="#" class="text-white">Home</a></li>

<li><a href="#" class="text-white">Collections</a></li>

<li><a href="#" class="text-white">Contact</a></li>

</ul>

</div>

<h4>Follow Us</h4>

<div class="social-icons">
    <a href="#"><i class="fa-brands fa-facebook fa-2x facebook"></i></a>
    <a href="#"><i class="fa-brands fa-instagram fa-2x instagram"></i></a>
    <a href="#"><i class="fa-brands fa-x-twitter fa-2x twitter"></i></a>
    <a href="#"><i class="fa-brands fa-youtube fa-2x youtube"></i></a>
</div>

</footer>