{% extends 'store/layouts/main.html' %}

{% block title %}
My Orders
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h3>My Orders</h3>

    <table class="table table-bordered mt-4">

        <thead class="table-dark">

            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

        </thead>

        <tbody>

            {% for order in orders %}

            <tr>

                <td>#{{ order.id }}</td>

                <td>{{ order.created_at|date:"d-m-Y" }}</td>

                <td>₹{{ order.total_price|floatformat:0 }}</td>

                <td>

                    {% if order.order_status == "Pending" %}

                        <span class="badge bg-warning text-dark">
                            Pending
                        </span>

                    {% elif order.order_status == "Shipped" %}

                        <span class="badge bg-primary">
                            Shipped
                        </span>

                    {% elif order.order_status == "Delivered" %}

                        <span class="badge bg-success">
                            Delivered
                        </span>

                    {% elif order.order_status == "Cancelled" %}

                        <span class="badge bg-danger">
                            Cancelled
                        </span>

                    {% else %}

                        <span class="badge bg-secondary">
                            {{ order.order_status }}
                        </span>

                    {% endif %}

                </td>

                <td>

                    <a href="{% url 'order_details' order.id %}"
                       class="btn btn-dark btn-sm">
                        View
                    </a>

                    {% if order.order_status == "Pending" %}

                    <a href="{% url 'cancel_order' order.id %}"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Are you sure you want to cancel this order?');">

                        Cancel

                    </a>

                    {% endif %}

                </td>

            </tr>

            {% empty %}

            <tr>

                <td colspan="5" class="text-center">
                    No Orders Found
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}